body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */
.header {
    background-color: #87c7ad;
    width: 100%;
    text-align: center;
}

.header > h1 {
}

#apple {
    color: red;
}

#banana {
    color: yellow;
}

#churro {
    color: #F6D2AA
}

/* results */
.play-again {
    display: none;
}

/* buttons */

/* score */

/* footer */